*{
    box-sizing: border-box;
    --green: rgb(45, 81, 45);
    --weekday-bg:#a3ca8b;
    --light-green:rgb(164, 201, 169);
    --dark-green:rgb(1, 34, 5);
    --background: rgb(222, 210, 195);
}

body{
    margin:0;
    display: flex;
    justify-content: space-between;
    width:100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.square{
    width:30vw;
    height: 30vh;
  
    margin: 1em;
}
.side-nav{
    background-color: var(--green);
    width: 20%;
    height: 100%;
    position: fixed;
    padding:10px;
}
.main-content{
    background-color: rgb(222, 210, 195);
    
    width: 81%;
    height: fit-content;
    margin-left:auto;
    /* padding-top: 3rem; */
    padding-left: 3rem;
}
.home-content{
    width:90%;
    height:96.5vh;
    margin-top:5rem;
    
    margin-left: auto;
}
/* .contents{
    width:90%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
/* .title{
    /* padding: 20px; */
    
/* }  */

.introducing{
    width:85%;
    height: 30%;
    padding-top: 10px;
    
}
.introducing + h3{
    padding: 10px;
}

.addNewApp{
    width:60%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.addNewApp button{
    background-color: var(--light-green);
    height: 3rem;
    width: 10rem;
    border-radius: 20px;
    box-shadow:5px 5px #698160;
    transition: all 0.4s ease;
}

.addNewApp button:hover{
    cursor: pointer;
}
.addNewApp button:active{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: none;
}
.viewAppsBtn{
    text-decoration: none;
    color: black;
}


.profilePicDiv{
    width:68%;
    height: 25%;
    margin: auto;
    
}

.side-nav ul{
    height: 80%;
    padding-top: 2rem;
    
}
.links{
    list-style: none;
    text-align: left;
    height: 15%;
    margin-bottom: 1rem;
    

}


.links a{
    text-decoration: none;
    color: var(--light-green);
    font-size: 17px;
    transition: color, background-color 0.3s ease;
    display: flex;
    justify-content:left;
    align-items: center;
    padding-left: 1rem;
   
    width: 100%;
    height: 100%;
}
.links a:hover{
    color: var(--dark-green);
    background-color:var(--weekday-bg);
    cursor:pointer;
   
}
.charts{
    width:50%;
    height: 50%;
}
 #myChart{
 
    background-color: rgb(245, 238, 238);
    padding: 1rem;
    margin-top: 3rem;
    border-radius: 8px;
} 

.profilePic{
    width:100%;
    height: 100%;
    margin-top: 1rem;
    border-radius: 20px 20px 20px 20px;
}

/* Setting Page */
.changeImages{
    width:50vw;
    height:50vh;
    margin-top: 10vh;
}
.animalsImages{
    width:70vw;
    height: 40vh;
 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}
.image{
    width:100px;
    height: 100px;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.image:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px #a3ca8b;
    cursor: pointer;
}

.image:active{
    transform: translateY(5px);
    box-shadow: none;
}

/* change theme color */
.colorsDiv{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    height: 40%;
    width:95%;
    
   margin-top: 5vh;

}
.colorCompination{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 10vw;
    height: 70%;
   
}
.color{
    
    margin:1.2rem;
    width:30%;
    height: 80%;
    display: flex;
    
}

.fc{
    width:30%;
    height: 80px;
    
}

    
.fc1{
    background-color:#edafb8 ;
    border-radius: 12px 0px 0px 12px;
}
.fc2{
    background-color: #f7e1d7;
}
.fc3{
    background-color: #dedbd2;
}
.fc4{
    background-color: #b0c4b1;
}
.fc5{
    background-color: #4a5759;
    border-radius: 0px 12px 12px 0px;
}


.sc{
    width:30%;
    height: 80px;
}
.sc1{
    background-color:#22223b ;
    border-radius: 12px 0px 0px 12px;

}
.sc2{
    background-color: #4a4e69;
}
.sc3{
    background-color: #9a8c98;
}
.sc4{
    background-color: #c9ada7;
}
.sc5{
    background-color: #f2e9e4;
    border-radius: 0px 12px 12px 0px;
}
.thc{
    width:20%;
    height: 80px;
   
}
.thc1{
    background-color: #f4f1de;
    border-radius: 12px 0px 0px 12px;

}
.thc2{
    background-color: #e07a5f;
}
.thc3{
    background-color: #3d405b;
}
.thc4{
    background-color: #81b29a;
}
.thc5{
    background-color: #f2cc8f;
    border-radius: 0px 12px 12px 0px;
}

.foc{
    width:20%;
    height: 80px;
   
}
.foc1{
    background-color: #9a756f;
    border-radius: 12px 0px 0px 12px;

}
.foc2{
    background-color: #d2aba4;
}
.foc3{
    background-color: #edcfc7;
}
.foc4{
    background-color: #aec2a9;
}
.foc5{
    background-color: #5d785e;
    border-radius: 0px 12px 12px 0px;
}

.fic{
    width:20%;
    height: 80px;
   
}
.fic1{
    background-color: #0a0908;
    border-radius: 12px 0px 0px 12px;

}
.fic2{
    background-color: #49111c;
}
.fic3{
    background-color: #f2f4f3;
}
.fic4{
    background-color: #a9927d;
}
.fic5{
    background-color: #5e503f;
    border-radius: 0px 12px 12px 0px;

}



/* My Application Page */

table {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/* Table Container */
.table-container {
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table Heading */
.table-title{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 10vh;
}

.table-title h2 {
    text-align: center;
    margin-bottom: 2rem;
  
}
.addNewAppBtn{
    height: 50%;
    background-color: var(--weekday-bg);
    border-radius: 20px;
    box-shadow:5px 5px #698160;
    transition: all 0.4s ease;
    margin-top: 1rem;
}

.addNewAppBtn:hover{
    cursor: pointer;
}
.addNewAppBtn:active{
    cursor: pointer;
    transform: translateY(3px);
    box-shadow: none;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--green);
    color: var(--light-green);
    font-weight: bold;
}



tbody tr:hover {
    background-color: var(--weekday-bg);
    cursor: pointer;
}


/* form */

.formBody {
    width: 70%;
    margin: 2rem auto;
    background-color: var(--background);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.formBody h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 0.75rem;
    margin: auto;
    margin-top: -1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#submitBtn {
    width: 50%;
    background-color: var(--green);
    color: var(--light-green);
    margin-left: 10rem;
    transition: all 0.4s;
}
#submitBtn:hover {
    background-color: var(--weekday-bg);
    color: var(--dark-green);
    cursor: pointer;
}
#optionalNotes{
    color: gray;
}
.req{
    color: red;
}